<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Gez
    link(rel="stylesheet" href="../scss/landing.scss")
  body
    .me-container
      include ./templates/nav.pug
      .me
        .case
          h1.title Luca <br> Gesmundo
          p <span class="data-vis"><a href="/work.pug">Data visualization</a></span> and<br><span class="front-end"><a href="/work.pug">Front end</a></span> developer
      .wkma
      .label(style="display: none;")
      .birds
      //- include ./templates/bird.pug
      //- include ./templates/hypno.pug
    script(async src="../js/main.js")