#hypno {
  display: inline-block;
  height: 80%;
  display: none;
}

#hypno path {
  fill: #444;
  stroke: #f9f9f9;
  stroke-width: .5;
}

.hypno-container {
  position: absolute;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  right: -5%;
  top: -5%;
}

.wise,
.counter {
  animation: rotate 9s infinite linear;
  transform-origin: 50% 50%;
}

.counter {
  animation-direction: reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  #spinner {
    width: 110vw;
  }
}