<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="../scss/main.scss")
  body
    .me-container
      .me
        .case
          h1 Luca Gesmundo
          p <a href="/"><span>data visualization</span></a> and <a href="/"><span>front end</span></a> developer
    //- p Hi, I am <strong>Luca Gesmundo</strong> <a href="/"><span>data visualization</span></a> and <a href="/"><span>front end</span></a> developer from Italy
    
    script(async src="../js/main.js")