<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Work
    link(rel="stylesheet" href="../scss/work.scss")
  body
    .work-grid
      include ./templates/nav.pug  
      .my-work
        .touch
          h1 ✍ Contacts
            p email: 
              a(href="mailto:contact@lucagez.net") contact@lucagez.net
            p github: 
              a(href="https://github.com/lucagez") github.com/lucagez
            p codepen:  
              a(href="https://codepen.io/lucagez/") codepen.io/lucagez
            p twitter:  
              a(href="https://twitter.com/lucagez") twitter.com/lucagez
        .touch
          p 
            | Currently I am available for freelance work.
            br
            | <a href="mailto:contact@lucagez.net" style="text-decoration: underline;">Tell me</a> what you would like to see on the web and we'll make it for real. 
            br
            | Yours,
            br
            | <i>Gez</i>