@import url('https://fonts.googleapis.com/css?family=Cabin');

@import '_fontface';

body {
  background: #444;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

h1, p, a {
  color: #fff;
}

h1 {
  font-family: 'Charter', serif;
  font-weight: bold;
  // font-size: 102px;
  // letter-spacing: 0.28em;
  // margin: 0;
}

p {
  font-family: 'Charter', serif;
  // font-size: 5em;
  letter-spacing: -0.04em;
  margin-top: 0;
  // text-align: justify;
  // hyphens: auto;
}

.me-container {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "wkma ."
    "me work"
    "touch .";
  overflow: hidden;
}

.me {
  grid-area: me;
  display: grid;
  grid-template-columns: auto minmax(672px, 750px) auto;
  h1 {
    font-size: 5.063em;
    letter-spacing: 0.08em;
    margin: 0;
  }
  p {
    // font-family: 'Cabin', sans-serif;
    color: #999;
    font-size: 3.375em;
  }
  span {
    color: #999;
    text-decoration: underline;
    transition: all 1s;
  }
}

.me:hover {
  span {
    color: palevioletred;
  }
}

.case {
  grid-column: 2; 
}

.touch, .work, .wkma {
  display: flex;
  height: 100%;
  width: 100%;
  p {
    display: inline-block;
    color: #999;
    font-size: 2.25em;
    transition: all .5s;
  }
  span {
    display: inline-block;
    transform: translateY(2px);
  }
}

.touch {
  text-align: center;
  grid-area: touch;
  p {
    // transform-origin: 0 0;
    transform: rotate(90deg);
  }
}

.wkma {
  grid-area: wkma;
  p {
    // transform: rotate(-90deg);
  }
}

.work {
  grid-area: work;
}

.work:hover, .wkma:hover {
  p {
    font-size: 5.063em;
    color: palevioletred;
  }
}

.touch:hover {
  p {
    font-size: 5.063em;
    color: palevioletred;
    transform: rotate(0);
  }
}

