@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli');

body {
  background: linear-gradient(to right, #f9f9f9, #ebedee);
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

h1, p, a {
  color: #444;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Muli', sans-serif;
}

a {
  cursor: pointer;
}

code {
  font-size: 18px;
  color: #888;
  background: rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 3px 5px;
  margin: 10px;
}

.label {
  position: fixed;
  top: 0;
  z-index: -1;
  // display: none;
  // transition: all .1s;
  img {
    max-width: 800px;
  }
}


